{% extends 'Base.html' %}
{% block body %}
  <!-- Content Wrapper. Contains page content -->

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div id="daily_table_today" class="card-body">
              <div>
                 <div id="PUR_TO_PAY"><h4>To Pay : {{ total_to_pay }}</h4></div>
                <div id="PUR_PAID_EXTRA"><h4>Paid Extra: {{ total_paid_extra }}</h4></div>

                <table class="table table-bordered">
                  <thead>
                    <tr style="background-color: black;">
                      <th>Date</th>
                      <th>Time</th>
                      <th>Purchase</th>
                      <th>To Pay</th>
                      <th>Desc</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for num in l1 %}
                      <tr>
                        <td style="height: 78px; font-size: larger;">{{ num.date }}</td>
                        <td style="height: 78px; font-size: larger;">{{ num.time }}</td>
                        <td style="height: 78px; font-size: larger;">{{ num.purchase }}</td>
                        <td style="height: 78px; font-size: larger;">{{ num.to_pay }}</td>
                        <td style="height: 78px; font-size: larger;">{{ num.desc }}</td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
