{% extends "Base.html" %}
  {% block body %}
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <form  method="post">
         <div class="input-group date" id="reservationdate" data-target-input="nearest">
          <input type="text" id="entry_date" readonly class="form-control datetimepicker-input" data-target="#reservationdate" value="{{date}}">
          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
          </div>
            <br>
          <div class="input-group mb-3">
            <input type="number" id="sp" class="form-control" placeholder="Selling price" value="{{selling_price}}">
          </div>
          <div class="input-group mb-3">
            <input type="number" id="cp" class="form-control" placeholder="Cost Price" value="{{cost_price}}">
          </div>
          <div class="input-group mb-3">
            <input type="number" id="gk" class="form-control" placeholder="Ghar Kharch" value="{{ghar_kharch}}">
          </div>
          <div class="row">
            <div class="col-4">
              <button onclick="PriceEntry()" type="submit"  class="btn btn-primary btn-block">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p id="entry_result"></p>
  
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock %}
